*/target/
.gitgnore
*/.settings/
.settings/
.settings/*
.project
*.prefs
*/.project
*/*.prefs
*.class
*.MF
.project
*/project
*.prefs
*/*.prefs
.classpath
*/.classpath
.mtj.tmp/
*.jar
*.war
*.ear
hs_err_pid*
SJJX-AnQuanKaoShiM\.classpath
SJJX-KeChengRenWuM\.classpath
SJJX-AnQuanKaoShiM\.project